.container,
.usages__center,
.usages__cards,
.usages__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 60px;
}
.usages__center {
  width: 70%;
}
.usages__cards {
  flex-wrap: wrap;
}
.usages__card {
  width: 45%;
  flex-direction: column;
  text-align: center;
  margin: 0 0 30px 5%;
  color: #000;
  font-weight: 400;
}
.name {
  font-size: 36px;
  line-height: 47px;
  margin-top: 25px;
}
.position {
  font-size: 24px;
  margin-top: 25px;
}
.detailes {
  font-size: 20px;
  line-height: 26px;
  margin-top: 25px;
}
